* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    gap: 40px;
}

/* HEADER AND HERO SECTION CONTAINER */
.header-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: #1f2937;
    padding-bottom: 50px;
}
/* HEADER SECTION */
.header {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.logo {
    display: flex;
    align-items: center; 
}
.navbar {
    display: flex;
    gap: 20px;
    
}

.logo a {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 1000;
}

.navbar a{
    color: #e5e7eb;
    font-size: 18px;
}

.header a {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    flex:1;
}

.hero-left-items {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
}

.hero-right-items {
    display: flex;
    justify-content: center;
    align-items:center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero button {
    background-color: #3882f6;
    color:#e5e7eb;
    padding: 5px 20px;
    font-weight: bold;
    align-self: flex-start;
    border-radius: 5px;
}

.hero-right-items img {
    /* FOR DEBUGGING ONLY */
    /* border: 1px solid red; */
    height: 150px;
    width: 300px;
}

/* INFORMATION SECTION */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.card img {
    /* FOR DEBUGGING ONLY */
    /* border: 5px solid blue; */
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.card p {
    max-width: 150px;
}

/* QUOTE SECTION */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.author {
    display: flex;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 30px;
}

/* SIGN UP SECTION */
.signup {
    display: flex;
    background-color: #3882f6;  
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-width: 700px;
    border-radius: 5px;
    align-self: center;
    gap: 70px;
} 

.signup-left h3,p {
    margin: 0;
    padding: 0;
}


.signup-right button {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px 25px;
}   

.signup-left,
.signup-right button {
    color:#f9faf8;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}