* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER SECTION */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.navbar {
    display: flex;
    flex:1;
    gap: 20px;
    
}

.logo a {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 1000;
}

.navbar a{
    color: #e5e7eb;
    font-size: 18px;
}

.header a {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-left-items {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
}

.hero-right-items {
    display: flex;
    justify-content: center;
    align-items:center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero button {
    background-color: #3882f6;
    color:#e5e7eb;
    padding: 5px 20px;
    font-weight: bold;
    align-self: flex-start;
    border-radius: 5px;
}

.hero-right-items img {
    border: 1px solid red;
    height: 150px;
    width: 300px;
}

/* INFORMATION SECTION */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.card img {
    border: 5px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.card p {
    max-width: 150px;
}

